In [1]:
pip install pandas

Collecting pandasNote: you may need to restart the kernel to use updated packages.
  Downloading pandas-1.3.4-cp39-cp39-win_amd64.whl (10.2 MB)
Collecting numpy>=1.17.3
  Downloading numpy-1.21.4-cp39-cp39-win_amd64.whl (14.0 MB)

Collecting pytz>=2017.3
  Downloading pytz-2021.3-py2.py3-none-any.whl (503 kB)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\python39\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\python39\lib\site-packages (from python-dateutil>=2.7.3->pandas) (1.16.0)
Installing collected packages: pytz, numpy, pandas
Successfully installed numpy-1.21.4 pandas-1.3.4 pytz-2021.3

In [4]:
import pandas as pd

In [ ]:
#series - one dimensional (which means the data will be in list format in integer/string/double etc)
#Dataframe - two dimensional (which means rows and columns)

In [8]:
#ways to  create series and dataframes in pandas

#Series

#Creating a dataframe from Pandas series

import pandas as pd
  
data1 = ['kee', 'nis', 'tam', 'siva']
  
data2 = pd.Series(data1)

print(data2)

0     kee
1     nis
2     tam
3    siva
dtype: object

In [10]:
#to check what type of series is 
type(data2)

pandas.core.series.Series

In [11]:
#creating dataframe from pandas dataframe 

import pandas as pd
 
# initialize list of lists

data123 = [ ['kee',27],
            ['nis',23],
            ['tam',50],
            ['siv',53]
]

df1 = pd.DataFrame(data123, columns = ['Name','Age'])

df1

  Name  Age
0  kee   27
1  nis   23
2  tam   50
3  siv   53

In [17]:
import pandas as pd
 
data = {'Name':['Tom', 'Tom', 'Tom', 'jack'],
        'Age':[20, 21, 19, 18]}
 
# Create DataFrame
df = pd.DataFrame(data)
 
# Print the output.
df

   Name  Age
0   Tom   20
1   Tom   21
2   Tom   19
3  jack   18

In [5]:
# DataFrame using arrays.
import pandas as pd
 
# initialize data of lists.
data = {'Name':['Tom', 'Jack', 'nick', 'juli'],
        'marks':[99, 98, 95, 90]}
 
# Creates pandas DataFrame.
df = pd.DataFrame(data, index =['rank1',
                                'rank2',
                                'rank3',
                                'rank4'])
df

       Name  marks
rank1   Tom     99
rank2  Jack     98
rank3  nick     95
rank4  juli     90

In [20]:
import pandas as pd
 
# Initialize data to lists.
data = [
        {'a': 1, 'b': 2, 'c':3},
        {'a':10, 'b': 20, 'c': 30}
]
 
# Creates DataFrame.
df = pd.DataFrame(data)
 
# Print the data
df

    a   b   c
0   1   2   3
1  10  20  30

In [52]:
data = pd.read_csv('C:\\Users\\Athiban\\Desktop\\Kee\\Bigg_Boss_India.csv')

In [27]:
data.head(5)

,Language,Season Number,Name,Profession,Gender,Entry Date,Elimination Date,Elimination Week Number,Wild Card,Season Length,...,Guest Host Name,Prize Money (INR),Broadcasted By,Average TRP,Number of Evictions Faced,Number of re-entries,Number of times elected as Captain,Social Media Popularity,Finalist,Winner
0,Hindi,1,Amit Sadh,Soap Actor,Male,03-Nov-06,NaN,10.0,No,86,...,NaN,0,Sony TV,2.72,3.0,0,0.0,NaN,0.0,0.0
1,Hindi,1,Anupama Verma,Model,Female,03-Nov-06,NaN,5.0,No,86,...,NaN,0,Sony TV,2.72,1.0,0,0.0,NaN,0.0,0.0
2,Hindi,1,Aryan Vaid,Pageant Winner,Male,03-Nov-06,NaN,4.0,No,86,...,NaN,0,Sony TV,2.72,1.0,0,0.0,NaN,0.0,0.0
3,Hindi,1,Bobby Darling,LGBT,Transgender,03-Nov-06,NaN,1.0,No,86,...,NaN,0,Sony TV,2.72,1.0,0,0.0,NaN,0.0,0.0
4,Hindi,1,Carol Gracias,Model,Female,03-Nov-06,26-Jan-07,12.0,No,86,...,NaN,0,Sony TV,2.72,6.0,0,0.0,NaN,1.0,0.0

In [28]:
data.shape #it will return no. of rows and columns

(743, 24)

In [29]:
data.size #multipy by rows into columns

17832

In [30]:
data['Season Number'].max()

15

In [21]:
data['Elimination Week Number'].mean()

9.013582342954159

In [31]:
data.dtypes

Language                               object
Season Number                           int64
Name                                   object
Profession                             object
Gender                                 object
Entry Date                             object
Elimination Date                       object
Elimination Week Number               float64
Wild Card                              object
Season Length                           int64
Number of Housemates                    int64
Season Start Date                      object
Season End Date                        object
Host Name                              object
Guest Host Name                        object
Prize Money (INR)                      object
Broadcasted By                         object
Average TRP                           float64
Number of Evictions Faced             float64
Number of re-entries                    int64
Number of times elected as Captain    float64
Social Media Popularity               float64
Finalist                              float64
Winner                                float64
dtype: object

In [51]:
data.fillna(0)

,Language,Season Number,Name,Profession,Gender,Entry Date,Elimination Date,Elimination Week Number,Wild Card,Season Length,...,Guest Host Name,Prize Money (INR),Broadcasted By,Average TRP,Number of Evictions Faced,Number of re-entries,Number of times elected as Captain,Social Media Popularity,Finalist,Winner
0,Hindi,1,Amit Sadh,Soap Actor,Male,03-Nov-06,1,10.0,No,86,...,1,0,Sony TV,2.72,3.0,0,0.0,1.0,0.0,0.0
1,Hindi,1,Anupama Verma,Model,Female,03-Nov-06,1,5.0,No,86,...,1,0,Sony TV,2.72,1.0,0,0.0,1.0,0.0,0.0
2,Hindi,1,Aryan Vaid,Pageant Winner,Male,03-Nov-06,1,4.0,No,86,...,1,0,Sony TV,2.72,1.0,0,0.0,1.0,0.0,0.0
3,Hindi,1,Bobby Darling,LGBT,Transgender,03-Nov-06,1,1.0,No,86,...,1,0,Sony TV,2.72,1.0,0,0.0,1.0,0.0,0.0
4,Hindi,1,Carol Gracias,Model,Female,03-Nov-06,26-Jan-07,12.0,No,86,...,1,0,Sony TV,2.72,6.0,0,0.0,1.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
738,Malayalam,3,Soorya Menon,Model,Female,14-Feb-21,1,13.0,No,95,...,1,0,Asianet,12.40,8.0,0,1.0,1.0,0.0,0.0
739,Malayalam,3,Firoz Khan & Sajna Firoz,Actor & Actress,Couple,1,1,9.0,Yes,95,...,1,0,Asianet,12.40,7.0,0,0.0,1.0,0.0,0.0
740,Malayalam,3,Michelle Ann Daniel,Actress,Female,1,1,3.0,Yes,95,...,1,0,Asianet,12.40,1.0,0,0.0,1.0,0.0,0.0
741,Malayalam,3,Angel Thomas,Model,Female,1,1,4.0,Yes,95,...,1,0,Asianet,12.40,1.0,0,0.0,1.0,0.0,0.0
742,Malayalam,3,Remya Panickar,Actress,Female,1,1,13.0,Yes,95,...,1,0,Asianet,12.40,3.0,1,1.0,1.0,0.0,0.0

In [57]:
df1 = data
df1

,Language,Season Number,Name,Profession,Gender,Entry Date,Elimination Date,Elimination Week Number,Wild Card,Season Length,...,Guest Host Name,Prize Money (INR),Broadcasted By,Average TRP,Number of Evictions Faced,Number of re-entries,Number of times elected as Captain,Social Media Popularity,Finalist,Winner
0,Hindi,1,Amit Sadh,Soap Actor,Male,03-Nov-06,NaN,10.0,No,86,...,NaN,0,Sony TV,2.72,3.0,0,0.0,NaN,0.0,0.0
1,Hindi,1,Anupama Verma,Model,Female,03-Nov-06,NaN,5.0,No,86,...,NaN,0,Sony TV,2.72,1.0,0,0.0,NaN,0.0,0.0
2,Hindi,1,Aryan Vaid,Pageant Winner,Male,03-Nov-06,NaN,4.0,No,86,...,NaN,0,Sony TV,2.72,1.0,0,0.0,NaN,0.0,0.0
3,Hindi,1,Bobby Darling,LGBT,Transgender,03-Nov-06,NaN,1.0,No,86,...,NaN,0,Sony TV,2.72,1.0,0,0.0,NaN,0.0,0.0
4,Hindi,1,Carol Gracias,Model,Female,03-Nov-06,26-Jan-07,12.0,No,86,...,NaN,0,Sony TV,2.72,6.0,0,0.0,NaN,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
738,Malayalam,3,Soorya Menon,Model,Female,14-Feb-21,NaN,13.0,No,95,...,NaN,0,Asianet,12.40,8.0,0,1.0,NaN,0.0,0.0
739,Malayalam,3,Firoz Khan & Sajna Firoz,Actor & Actress,Couple,NaN,NaN,9.0,Yes,95,...,NaN,0,Asianet,12.40,7.0,0,0.0,NaN,0.0,0.0
740,Malayalam,3,Michelle Ann Daniel,Actress,Female,NaN,NaN,3.0,Yes,95,...,NaN,0,Asianet,12.40,1.0,0,0.0,NaN,0.0,0.0
741,Malayalam,3,Angel Thomas,Model,Female,NaN,NaN,4.0,Yes,95,...,NaN,0,Asianet,12.40,1.0,0,0.0,NaN,0.0,0.0
742,Malayalam,3,Remya Panickar,Actress,Female,NaN,NaN,13.0,Yes,95,...,NaN,0,Asianet,12.40,3.0,1,1.0,NaN,0.0,0.0

In [33]:
df1.head()

,Language,Season Number,Name,Profession,Gender,Entry Date,Elimination Date,Elimination Week Number,Wild Card,Season Length,...,Guest Host Name,Prize Money (INR),Broadcasted By,Average TRP,Number of Evictions Faced,Number of re-entries,Number of times elected as Captain,Social Media Popularity,Finalist,Winner
0,Hindi,1,Amit Sadh,Soap Actor,Male,03-Nov-06,0,10.0,No,86,...,0,0,Sony TV,2.72,3.0,0,0.0,0.0,0.0,0.0
1,Hindi,1,Anupama Verma,Model,Female,03-Nov-06,0,5.0,No,86,...,0,0,Sony TV,2.72,1.0,0,0.0,0.0,0.0,0.0
2,Hindi,1,Aryan Vaid,Pageant Winner,Male,03-Nov-06,0,4.0,No,86,...,0,0,Sony TV,2.72,1.0,0,0.0,0.0,0.0,0.0
3,Hindi,1,Bobby Darling,LGBT,Transgender,03-Nov-06,0,1.0,No,86,...,0,0,Sony TV,2.72,1.0,0,0.0,0.0,0.0,0.0
4,Hindi,1,Carol Gracias,Model,Female,03-Nov-06,26-Jan-07,12.0,No,86,...,0,0,Sony TV,2.72,6.0,0,0.0,0.0,1.0,0.0

In [60]:
data[1:6] #slicing

,Language,Season Number,Name,Profession,Gender,Entry Date,Elimination Date,Elimination Week Number,Wild Card,Season Length,...,Guest Host Name,Prize Money (INR),Broadcasted By,Average TRP,Number of Evictions Faced,Number of re-entries,Number of times elected as Captain,Social Media Popularity,Finalist,Winner
1,Hindi,1,Anupama Verma,Model,Female,03-Nov-06,NaN,5.0,No,86,...,NaN,0,Sony TV,2.72,1.0,0,0.0,NaN,0.0,0.0
2,Hindi,1,Aryan Vaid,Pageant Winner,Male,03-Nov-06,NaN,4.0,No,86,...,NaN,0,Sony TV,2.72,1.0,0,0.0,NaN,0.0,0.0
3,Hindi,1,Bobby Darling,LGBT,Transgender,03-Nov-06,NaN,1.0,No,86,...,NaN,0,Sony TV,2.72,1.0,0,0.0,NaN,0.0,0.0
4,Hindi,1,Carol Gracias,Model,Female,03-Nov-06,26-Jan-07,12.0,No,86,...,NaN,0,Sony TV,2.72,6.0,0,0.0,NaN,1.0,0.0
5,Hindi,1,Deepak Parashar,Actor,Male,03-Nov-06,NaN,2.0,No,86,...,NaN,0,Sony TV,2.72,1.0,0,0.0,NaN,0.0,0.0

df.columns

In [61]:
data.columns

Index(['Language', 'Season Number', 'Name', 'Profession', 'Gender',
       'Entry Date', 'Elimination Date', 'Elimination Week Number',
       'Wild Card', 'Season Length', 'Number of Housemates',
       'Season Start Date', 'Season End Date', 'Host Name', 'Guest Host Name',
       'Prize Money (INR)', 'Broadcasted By', 'Average TRP',
       'Number of Evictions Faced', 'Number of re-entries',
       'Number of times elected as Captain', 'Social Media Popularity',
       'Finalist', 'Winner'],
      dtype='object')

In [37]:
df1['Language'].unique()

array(['Hindi', 'Kannada', 'Telugu', 'Tamil', 'Marathi', 'Bengali',
       'Malayalam'], dtype=object)

In [38]:
df1['Language'] #df1.Language (both are same)

0          Hindi
1          Hindi
2          Hindi
3          Hindi
4          Hindi
         ...
738    Malayalam
739    Malayalam
740    Malayalam
741    Malayalam
742    Malayalam
Name: Language, Length: 743, dtype: object

In [39]:
df1.Language

0          Hindi
1          Hindi
2          Hindi
3          Hindi
4          Hindi
         ...
738    Malayalam
739    Malayalam
740    Malayalam
741    Malayalam
742    Malayalam
Name: Language, Length: 743, dtype: object

In [41]:
type(df1['Language']) #if you want see the data type of your columns

pandas.core.series.Series

In [42]:
type(df1)

pandas.core.frame.DataFrame

In [43]:
df1.dtypes #you can get all the data types for all the columns

Language                               object
Season Number                           int64
Name                                   object
Profession                             object
Gender                                 object
Entry Date                             object
Elimination Date                       object
Elimination Week Number               float64
Wild Card                              object
Season Length                           int64
Number of Housemates                    int64
Season Start Date                      object
Season End Date                        object
Host Name                              object
Guest Host Name                        object
Prize Money (INR)                      object
Broadcasted By                         object
Average TRP                           float64
Number of Evictions Faced             float64
Number of re-entries                    int64
Number of times elected as Captain    float64
Social Media Popularity               float64
Finalist                              float64
Winner                                float64
dtype: object

In [63]:
df1[
    ['Broadcasted By','Finalist','Name']
]

    Broadcasted By  Finalist                      Name
0          Sony TV       0.0                 Amit Sadh
1          Sony TV       0.0             Anupama Verma
2          Sony TV       0.0                Aryan Vaid
3          Sony TV       0.0             Bobby Darling
4          Sony TV       1.0             Carol Gracias
..             ...       ...                       ...
738        Asianet       0.0              Soorya Menon
739        Asianet       0.0  Firoz Khan & Sajna Firoz
740        Asianet       0.0       Michelle Ann Daniel
741        Asianet       0.0              Angel Thomas
742        Asianet       0.0            Remya Panickar

[743 rows x 3 columns]

In [67]:
df1.Name

0                     Amit Sadh
1                 Anupama Verma
2                    Aryan Vaid
3                 Bobby Darling
4                 Carol Gracias
                 ...
738                Soorya Menon
739    Firoz Khan & Sajna Firoz
740         Michelle Ann Daniel
741                Angel Thomas
742              Remya Panickar
Name: Name, Length: 743, dtype: object

In [ ]:
#Maths

In [48]:
df1.head()

,Language,Season Number,Name,Profession,Gender,Entry Date,Elimination Date,Elimination Week Number,Wild Card,Season Length,...,Guest Host Name,Prize Money (INR),Broadcasted By,Average TRP,Number of Evictions Faced,Number of re-entries,Number of times elected as Captain,Social Media Popularity,Finalist,Winner
0,Hindi,1,Amit Sadh,Soap Actor,Male,03-Nov-06,0,10.0,No,86,...,0,0,Sony TV,2.72,3.0,0,0.0,0.0,0.0,0.0
1,Hindi,1,Anupama Verma,Model,Female,03-Nov-06,0,5.0,No,86,...,0,0,Sony TV,2.72,1.0,0,0.0,0.0,0.0,0.0
2,Hindi,1,Aryan Vaid,Pageant Winner,Male,03-Nov-06,0,4.0,No,86,...,0,0,Sony TV,2.72,1.0,0,0.0,0.0,0.0,0.0
3,Hindi,1,Bobby Darling,LGBT,Transgender,03-Nov-06,0,1.0,No,86,...,0,0,Sony TV,2.72,1.0,0,0.0,0.0,0.0,0.0
4,Hindi,1,Carol Gracias,Model,Female,03-Nov-06,26-Jan-07,12.0,No,86,...,0,0,Sony TV,2.72,6.0,0,0.0,0.0,1.0,0.0

In [49]:
df1['Season Number'].max()

15

In [50]:
df1['Number of Evictions Faced'].std()

2.931550087765328

In [51]:
df1['Number of Evictions Faced'].mean()

3.9448183041722746

In [53]:
df1.describe() #descriptive statistics

,Season Number,Elimination Week Number,Season Length,Number of Housemates,Average TRP,Number of Evictions Faced,Number of re-entries,Number of times elected as Captain,Social Media Popularity,Finalist,Winner
count,743.000000,743.000000,743.000000,743.000000,743.000000,743.000000,743.000000,743.000000,743.000000,743.000000,743.000000
mean,5.164199,7.145357,102.742934,18.340511,5.218937,3.944818,0.087483,0.503365,0.890983,0.223419,0.048452
std,3.933060,5.659748,13.276649,2.001634,5.577017,2.931550,0.305638,0.733986,2.360436,0.416817,0.214864
min,1.000000,0.000000,70.000000,15.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2.000000,2.000000,98.000000,17.000000,0.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,4.000000,7.000000,105.000000,18.000000,3.770000,3.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,7.000000,12.000000,105.000000,20.000000,8.500000,6.000000,0.000000,1.000000,0.000000,0.000000,0.000000
max,15.000000,20.000000,143.000000,23.000000,20.100000,17.000000,3.000000,5.000000,10.000000,1.000000,1.000000

In [75]:
df1[df1.Winner==1]

,Language,Season Number,Name,Profession,Gender,Entry Date,Elimination Date,Elimination Week Number,Wild Card,Season Length,...,Guest Host Name,Prize Money (INR),Broadcasted By,Average TRP,Number of Evictions Faced,Number of re-entries,Number of times elected as Captain,Social Media Popularity,Finalist,Winner
8,Hindi,1,Rahul Roy,Actor,Male,03-Nov-06,NaN,NaN,No,86,...,NaN,"1,00,00,000",Sony TV,2.72,4.0,0,0.0,NaN,1.0,1.0
16,Hindi,2,Ashutosh Kaushik,Reality Show Alumni,Male,17-Aug-08,NaN,NaN,No,98,...,NaN,"1,00,00,000",Colors,2.89,4.0,0,0.0,NaN,1.0,1.0
42,Hindi,3,Vindu Dara Singh,Actor,Male,04-Oct-09,NaN,NaN,No,84,...,NaN,"1,00,00,000",Colors,2.83,7.0,0,0.0,NaN,1.0,1.0
57,Hindi,4,Shweta Tiwari,Soap Actress,Female,03-Oct-10,NaN,NaN,No,96,...,NaN,"1,00,00,000",Colors,4.95,4.0,0,2.0,NaN,1.0,1.0
62,Hindi,5,Juhi Parmar,Soap Actress,Female,02-Oct-11,NaN,NaN,No,98,...,Sanjay Dutt,"1,00,00,000",Colors,4.19,4.0,0,1.0,NaN,1.0,1.0
92,Hindi,6,Urvashi Dholakia,Soap Actress,Female,07-Oct-12,NaN,NaN,No,97,...,NaN,"50,00,000",Colors,3.81,6.0,0,1.0,NaN,1.0,1.0
102,Hindi,7,Gauhar Khan,Actress,Female,15-Sep-13,NaN,NaN,No,105,...,NaN,"50,00,000",Colors,4.40,7.0,0,2.0,NaN,1.0,1.0
121,Hindi,8,Gautam Gulati,Actor,Male,21-Sep-14,NaN,NaN,No,105,...,Farah Khan,"50,00,000",Colors,3.77,10.0,0,1.0,NaN,1.0,1.0
144,Hindi,9,Prince Narula,Reality Show Alumni,Male,11-Oct-15,NaN,NaN,No,105,...,NaN,"50,00,000",Colors,2.90,6.0,0,4.0,NaN,1.0,1.0
165,Hindi,10,Manveer Gurjar,Commoner - Farmer,Male,16-Oct-16,NaN,NaN,No,105,...,NaN,"50,00,000",Colors,3.54,7.0,0,4.0,8.0,1.0,1.0
189,Hindi,11,Shilpa Shinde,Soap Actress,Female,01-Oct-17,NaN,NaN,No,106,...,NaN,"50,00,000",Colors,7.64,9.0,0,0.0,8.0,1.0,1.0
196,Hindi,12,Dipika Kakar,Actress,Female,16-Sep-18,NaN,NaN,No,105,...,NaN,"30,00,000",Colors,4.99,9.0,0,0.0,8.0,1.0,1.0
225,Hindi,13,Siddharth Shukla,Soap Actor,Male,29-Sep-19,NaN,NaN,No,140,...,NaN,"50,00,000",Colors,9.06,12.0,0,2.0,10.0,1.0,1.0
244,Hindi,14,Rubina Dilaik,Soap Actress,Female,03-Oct-20,NaN,NaN,No,143,...,NaN,"36,00,000",Colors,NaN,17.0,0,0.0,NaN,1.0,1.0
288,Kannada,1,Vijay Raghavendra,Actor,Male,24-Mar-13,NaN,NaN,No,98,...,NaN,"50,00,000",ETV Kannada,4.70,6.0,0,NaN,NaN,1.0,1.0
293,Kannada,2,Akul Balaji,TV Anchor,Male,29-Jun-14,NaN,NaN,No,98,...,NaN,"50,00,000",Suvarna,NaN,4.0,0,2.0,NaN,1.0,1.0
320,Kannada,3,Shruti,Actress,Female,25-Oct-15,NaN,NaN,No,98,...,NaN,"50,00,000",Colors Kannada,NaN,6.0,0,3.0,NaN,1.0,1.0
334,Kannada,4,Pratham,Film Director,Male,09-Oct-16,NaN,NaN,No,112,...,NaN,"50,00,000",Colors Kannada,NaN,NaN,0,NaN,NaN,1.0,1.0
345,Kannada,5,Chandan Shetty,Singer,Male,15-Oct-17,NaN,NaN,No,106,...,NaN,"50,00,000",Colors Kannada,NaN,5.0,0,1.0,9.0,1.0,1.0
378,Kannada,6,Shashi Kumar,Commoner,Male,21-Oct-18,NaN,NaN,No,100,...,NaN,"50,00,000",Colors Kannada,NaN,9.0,0,1.0,8.0,1.0,1.0
398,Kannada,7,Shine Shetty,Actor,Male,13-Oct-19,NaN,NaN,No,113,...,NaN,"50,00,000",Colors Kannada,NaN,8.0,0,2.0,9.0,1.0,1.0
409,Kannada,8,Manju Pavagada,Comedian,Male,28-Feb-21,NaN,NaN,No,117,...,NaN,"50,00,000",Colors Kannada,NaN,9.0,0,1.0,9.0,1.0,1.0
436,Telugu,1,Siva Balaji,Actor,Male,16-Jul-17,NaN,NaN,No,70,...,NaN,"50,00,000",Star Maa,15.00,4.0,0,2.0,8.0,1.0,1.0
446,Telugu,2,Kaushal Manda,Actor,Male,10-Jun-18,NaN,NaN,No,112,...,NaN,"50,00,000",Star Maa,15.00,11.0,0,1.0,10.0,1.0,1.0
465,Telugu,3,Rahul Sipligunj,Singer,Male,21-Jul-19,NaN,NaN,No,105,...,Ramya Krishnan,"50,00,000",Star Maa,18.10,12.0,0,0.0,9.0,1.0,1.0
474,Telugu,4,Abijeet,Actor,Male,06-Sep-20,NaN,NaN,No,105,...,Samantha Akkineni,"25,00,000",Star Maa,20.10,12.0,0,0.0,9.0,1.0,1.0
512,Tamil,1,Aarav Nafeez,Model,Male,25-Jun-17,NaN,NaN,No,98,...,NaN,"50,00,000",Star Vijay,7.80,7.0,0,1.0,7.0,1.0,1.0
541,Tamil,2,Riythvika,Actress,Female,17-Jun-18,NaN,NaN,No,105,...,NaN,"50,00,000",Star Vijay,8.20,6.0,0,1.0,8.0,1.0,1.0
555,Tamil,3,Mugen Rao,Singer,Male,23-Jun-19,NaN,NaN,No,105,...,NaN,"50,00,000",Star Vijay,8.80,4.0,0,2.0,8.0,1.0,1.0
566,Tamil,4,Aari Arjunan,Actor,Male,04-Oct-20,NaN,NaN,No,105,...,NaN,"50,00,000",Star Vijay,15.60,11.0,0,2.0,9.0,1.0,1.0
606,Marathi,1,Megha Dhade,Actress,Female,15-Apr-18,NaN,NaN,No,98,...,NaN,"25,00,000",Colors Marathi,NaN,5.0,0,2.0,NaN,1.0,1.0
628,Marathi,2,Shiv Thakre,Reality Show Alumni,Male,26-May-19,NaN,NaN,No,98,...,NaN,"25,00,000",Colors Marathi,NaN,7.0,0,2.0,NaN,1.0,1.0
654,Bengali,1,Aneek Dhar,Singer,Male,17-Jun-13,NaN,NaN,No,90,...,NaN,"20,00,000",ETV Bangla,2.90,7.0,0,0.0,NaN,1.0,1.0
671,Bengali,2,Joyjit Banerjee,Soap Actor,Male,04-Apr-16,NaN,NaN,No,97,...,NaN,"35,00,000",Colors Bangla,6.50,9.0,0,2.0,NaN,1.0,1.0
696,Malayalam,1,Sabumon Abdusamad,TV Anchor,Male,24-Jun-18,NaN,NaN,No,98,...,NaN,"1,00,00,000",Asianet,10.33,5.0,0,1.0,NaN,1.0,1.0
732,Malayalam,3,Manikuttan,Actor,Male,14-Feb-21,NaN,NaN,No,95,...,NaN,"75,00,000",Asianet,12.40,5.0,0,2.0,NaN,1.0,1.0

In [ ]:
#isna() --> find the missing value (it will show show in boolean --> true (which mean , there is missing values) )

#isna().sum() --> returns the no. of missing values in your columns 
#isna().any()  --> indicates there are any missing values ( yes --> true | no --> false)

In [76]:
data.isna().any()

Language                              False
Season Number                         False
Name                                  False
Profession                            False
Gender                                False
Entry Date                             True
Elimination Date                       True
Elimination Week Number                True
Wild Card                             False
Season Length                         False
Number of Housemates                  False
Season Start Date                     False
Season End Date                       False
Host Name                             False
Guest Host Name                        True
Prize Money (INR)                      True
Broadcasted By                        False
Average TRP                            True
Number of Evictions Faced              True
Number of re-entries                  False
Number of times elected as Captain     True
Social Media Popularity                True
Finalist                               True
Winner                                 True
dtype: bool

In [77]:
data.isna().sum()

Language                                0
Season Number                           0
Name                                    0
Profession                              0
Gender                                  0
Entry Date                            111
Elimination Date                      599
Elimination Week Number               154
Wild Card                               0
Season Length                           0
Number of Housemates                    0
Season Start Date                       0
Season End Date                         0
Host Name                               0
Guest Host Name                       653
Prize Money (INR)                      41
Broadcasted By                          0
Average TRP                           261
Number of Evictions Faced              18
Number of re-entries                    0
Number of times elected as Captain     33
Social Media Popularity               645
Finalist                               41
Winner                                 41
dtype: int64

In [80]:
#fillna()  ---> it will replace all the NAN / null / missing  values 

data.fillna(0,inplace=True)

In [81]:
data.isna().any()

Language                              False
Season Number                         False
Name                                  False
Profession                            False
Gender                                False
Entry Date                            False
Elimination Date                      False
Elimination Week Number               False
Wild Card                             False
Season Length                         False
Number of Housemates                  False
Season Start Date                     False
Season End Date                       False
Host Name                             False
Guest Host Name                       False
Prize Money (INR)                     False
Broadcasted By                        False
Average TRP                           False
Number of Evictions Faced             False
Number of re-entries                  False
Number of times elected as Captain    False
Social Media Popularity               False
Finalist                              False
Winner                                False
dtype: bool