In [1]:
pip install pandas

Collecting pandasNote: you may need to restart the kernel to use updated packages.
  Downloading pandas-1.3.4-cp39-cp39-win_amd64.whl (10.2 MB)
Collecting numpy>=1.17.3
  Downloading numpy-1.21.4-cp39-cp39-win_amd64.whl (14.0 MB)

Collecting pytz>=2017.3
  Downloading pytz-2021.3-py2.py3-none-any.whl (503 kB)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\python39\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\python39\lib\site-packages (from python-dateutil>=2.7.3->pandas) (1.16.0)
Installing collected packages: pytz, numpy, pandas
Successfully installed numpy-1.21.4 pandas-1.3.4 pytz-2021.3

In [4]:
import pandas as pd

In [11]:
data = pd.read_csv('C:\\Users\\Athiban\\Desktop\\Kee\\Bigg_Boss_India.csv')

In [12]:
data.head(5)

,Language,Season Number,Name,Profession,Gender,Entry Date,Elimination Date,Elimination Week Number,Wild Card,Season Length,...,Guest Host Name,Prize Money (INR),Broadcasted By,Average TRP,Number of Evictions Faced,Number of re-entries,Number of times elected as Captain,Social Media Popularity,Finalist,Winner
0,Hindi,1,Amit Sadh,Soap Actor,Male,03-Nov-06,NaN,10.0,No,86,...,NaN,0,Sony TV,2.72,3.0,0,0.0,NaN,0.0,0.0
1,Hindi,1,Anupama Verma,Model,Female,03-Nov-06,NaN,5.0,No,86,...,NaN,0,Sony TV,2.72,1.0,0,0.0,NaN,0.0,0.0
2,Hindi,1,Aryan Vaid,Pageant Winner,Male,03-Nov-06,NaN,4.0,No,86,...,NaN,0,Sony TV,2.72,1.0,0,0.0,NaN,0.0,0.0
3,Hindi,1,Bobby Darling,LGBT,Transgender,03-Nov-06,NaN,1.0,No,86,...,NaN,0,Sony TV,2.72,1.0,0,0.0,NaN,0.0,0.0
4,Hindi,1,Carol Gracias,Model,Female,03-Nov-06,26-Jan-07,12.0,No,86,...,NaN,0,Sony TV,2.72,6.0,0,0.0,NaN,1.0,0.0

In [14]:
data.shape #it will return how many rows and columns

(743, 24)

In [15]:
data.size #multipy by rows into columns

17832

In [20]:
data['Season Number'].max()

15

In [21]:
data['Elimination Week Number'].mean()

9.013582342954159

In [32]:
df1=data.fillna(0)

In [33]:
df1.head()

,Language,Season Number,Name,Profession,Gender,Entry Date,Elimination Date,Elimination Week Number,Wild Card,Season Length,...,Guest Host Name,Prize Money (INR),Broadcasted By,Average TRP,Number of Evictions Faced,Number of re-entries,Number of times elected as Captain,Social Media Popularity,Finalist,Winner
0,Hindi,1,Amit Sadh,Soap Actor,Male,03-Nov-06,0,10.0,No,86,...,0,0,Sony TV,2.72,3.0,0,0.0,0.0,0.0,0.0
1,Hindi,1,Anupama Verma,Model,Female,03-Nov-06,0,5.0,No,86,...,0,0,Sony TV,2.72,1.0,0,0.0,0.0,0.0,0.0
2,Hindi,1,Aryan Vaid,Pageant Winner,Male,03-Nov-06,0,4.0,No,86,...,0,0,Sony TV,2.72,1.0,0,0.0,0.0,0.0,0.0
3,Hindi,1,Bobby Darling,LGBT,Transgender,03-Nov-06,0,1.0,No,86,...,0,0,Sony TV,2.72,1.0,0,0.0,0.0,0.0,0.0
4,Hindi,1,Carol Gracias,Model,Female,03-Nov-06,26-Jan-07,12.0,No,86,...,0,0,Sony TV,2.72,6.0,0,0.0,0.0,1.0,0.0

In [34]:
df1[2:5] #slicing

,Language,Season Number,Name,Profession,Gender,Entry Date,Elimination Date,Elimination Week Number,Wild Card,Season Length,...,Guest Host Name,Prize Money (INR),Broadcasted By,Average TRP,Number of Evictions Faced,Number of re-entries,Number of times elected as Captain,Social Media Popularity,Finalist,Winner
2,Hindi,1,Aryan Vaid,Pageant Winner,Male,03-Nov-06,0,4.0,No,86,...,0,0,Sony TV,2.72,1.0,0,0.0,0.0,0.0,0.0
3,Hindi,1,Bobby Darling,LGBT,Transgender,03-Nov-06,0,1.0,No,86,...,0,0,Sony TV,2.72,1.0,0,0.0,0.0,0.0,0.0
4,Hindi,1,Carol Gracias,Model,Female,03-Nov-06,26-Jan-07,12.0,No,86,...,0,0,Sony TV,2.72,6.0,0,0.0,0.0,1.0,0.0

df.columns

In [35]:
df1.columns

Index(['Language', 'Season Number', 'Name', 'Profession', 'Gender',
       'Entry Date', 'Elimination Date', 'Elimination Week Number',
       'Wild Card', 'Season Length', 'Number of Housemates',
       'Season Start Date', 'Season End Date', 'Host Name', 'Guest Host Name',
       'Prize Money (INR)', 'Broadcasted By', 'Average TRP',
       'Number of Evictions Faced', 'Number of re-entries',
       'Number of times elected as Captain', 'Social Media Popularity',
       'Finalist', 'Winner'],
      dtype='object')

In [37]:
df1['Language'].unique()

array(['Hindi', 'Kannada', 'Telugu', 'Tamil', 'Marathi', 'Bengali',
       'Malayalam'], dtype=object)

In [38]:
df1['Language'] #df1.Language (both are same)

0          Hindi
1          Hindi
2          Hindi
3          Hindi
4          Hindi
         ...
738    Malayalam
739    Malayalam
740    Malayalam
741    Malayalam
742    Malayalam
Name: Language, Length: 743, dtype: object

In [39]:
df1.Language

0          Hindi
1          Hindi
2          Hindi
3          Hindi
4          Hindi
         ...
738    Malayalam
739    Malayalam
740    Malayalam
741    Malayalam
742    Malayalam
Name: Language, Length: 743, dtype: object

In [41]:
type(df1['Language']) #if you want see the data type of your columns

pandas.core.series.Series

In [42]:
type(df1)

pandas.core.frame.DataFrame

In [43]:
df1.dtypes #you can get all the data types for all the columns

Language                               object
Season Number                           int64
Name                                   object
Profession                             object
Gender                                 object
Entry Date                             object
Elimination Date                       object
Elimination Week Number               float64
Wild Card                              object
Season Length                           int64
Number of Housemates                    int64
Season Start Date                      object
Season End Date                        object
Host Name                              object
Guest Host Name                        object
Prize Money (INR)                      object
Broadcasted By                         object
Average TRP                           float64
Number of Evictions Faced             float64
Number of re-entries                    int64
Number of times elected as Captain    float64
Social Media Popularity               float64
Finalist                              float64
Winner                                float64
dtype: object

In [46]:
df1[['Broadcasted By','Finalist']]

    Broadcasted By  Finalist
0          Sony TV       0.0
1          Sony TV       0.0
2          Sony TV       0.0
3          Sony TV       0.0
4          Sony TV       1.0
..             ...       ...
738        Asianet       0.0
739        Asianet       0.0
740        Asianet       0.0
741        Asianet       0.0
742        Asianet       0.0

[743 rows x 2 columns]

In [ ]:
#Maths

In [48]:
df1.head()

,Language,Season Number,Name,Profession,Gender,Entry Date,Elimination Date,Elimination Week Number,Wild Card,Season Length,...,Guest Host Name,Prize Money (INR),Broadcasted By,Average TRP,Number of Evictions Faced,Number of re-entries,Number of times elected as Captain,Social Media Popularity,Finalist,Winner
0,Hindi,1,Amit Sadh,Soap Actor,Male,03-Nov-06,0,10.0,No,86,...,0,0,Sony TV,2.72,3.0,0,0.0,0.0,0.0,0.0
1,Hindi,1,Anupama Verma,Model,Female,03-Nov-06,0,5.0,No,86,...,0,0,Sony TV,2.72,1.0,0,0.0,0.0,0.0,0.0
2,Hindi,1,Aryan Vaid,Pageant Winner,Male,03-Nov-06,0,4.0,No,86,...,0,0,Sony TV,2.72,1.0,0,0.0,0.0,0.0,0.0
3,Hindi,1,Bobby Darling,LGBT,Transgender,03-Nov-06,0,1.0,No,86,...,0,0,Sony TV,2.72,1.0,0,0.0,0.0,0.0,0.0
4,Hindi,1,Carol Gracias,Model,Female,03-Nov-06,26-Jan-07,12.0,No,86,...,0,0,Sony TV,2.72,6.0,0,0.0,0.0,1.0,0.0

In [49]:
df1['Season Number'].max()

15

In [50]:
df1['Number of Evictions Faced'].std()

2.931550087765328

In [51]:
df1['Number of Evictions Faced'].mean()

3.9448183041722746

In [53]:
df1.describe() #descriptive statistics

,Season Number,Elimination Week Number,Season Length,Number of Housemates,Average TRP,Number of Evictions Faced,Number of re-entries,Number of times elected as Captain,Social Media Popularity,Finalist,Winner
count,743.000000,743.000000,743.000000,743.000000,743.000000,743.000000,743.000000,743.000000,743.000000,743.000000,743.000000
mean,5.164199,7.145357,102.742934,18.340511,5.218937,3.944818,0.087483,0.503365,0.890983,0.223419,0.048452
std,3.933060,5.659748,13.276649,2.001634,5.577017,2.931550,0.305638,0.733986,2.360436,0.416817,0.214864
min,1.000000,0.000000,70.000000,15.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2.000000,2.000000,98.000000,17.000000,0.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,4.000000,7.000000,105.000000,18.000000,3.770000,3.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,7.000000,12.000000,105.000000,20.000000,8.500000,6.000000,0.000000,1.000000,0.000000,0.000000,0.000000
max,15.000000,20.000000,143.000000,23.000000,20.100000,17.000000,3.000000,5.000000,10.000000,1.000000,1.000000

In [60]:
df1[df1.Finalist>=1]

,Language,Season Number,Name,Profession,Gender,Entry Date,Elimination Date,Elimination Week Number,Wild Card,Season Length,...,Guest Host Name,Prize Money (INR),Broadcasted By,Average TRP,Number of Evictions Faced,Number of re-entries,Number of times elected as Captain,Social Media Popularity,Finalist,Winner
4,Hindi,1,Carol Gracias,Model,Female,03-Nov-06,26-Jan-07,12.0,No,86,...,0,0,Sony TV,2.72,6.0,0,0.0,0.0,1.0,0.0
8,Hindi,1,Rahul Roy,Actor,Male,03-Nov-06,0,0.0,No,86,...,0,"1,00,00,000",Sony TV,2.72,4.0,0,0.0,0.0,1.0,1.0
10,Hindi,1,Ravi Kishan,Actor,Male,03-Nov-06,26-Jan-07,12.0,No,86,...,0,0,Sony TV,2.72,5.0,0,0.0,0.0,1.0,0.0
16,Hindi,2,Ashutosh Kaushik,Reality Show Alumni,Male,17-Aug-08,0,0.0,No,98,...,0,"1,00,00,000",Colors,2.89,4.0,0,0.0,0.0,1.0,1.0
24,Hindi,2,Raja Chaudhary,Actor,Male,17-Aug-08,22-Nov-08,14.0,No,98,...,0,0,Colors,2.89,5.0,0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
732,Malayalam,3,Manikuttan,Actor,Male,14-Feb-21,0,0.0,No,95,...,0,"75,00,000",Asianet,12.40,5.0,0,2.0,0.0,1.0,1.0
733,Malayalam,3,Noby Marcose,Actor,Male,14-Feb-21,0,0.0,No,95,...,0,0,Asianet,12.40,3.0,0,1.0,0.0,1.0,0.0
734,Malayalam,3,Ramzan Muhammed,Dancer,Male,14-Feb-21,0,0.0,No,95,...,0,0,Asianet,12.40,5.0,0,2.0,0.0,1.0,0.0
735,Malayalam,3,Rithu Manthra,Singer,Female,14-Feb-21,0,0.0,No,95,...,0,0,Asianet,12.40,9.0,0,1.0,0.0,1.0,0.0
736,Malayalam,3,Sai Vishnu,Commoner,Male,14-Feb-21,0,0.0,No,95,...,0,0,Asianet,12.40,12.0,0,1.0,0.0,1.0,0.0